@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChangwonDangamRounded";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ChangwonDangamRound-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "ChangwonDangamRounded", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  background-color: #fff8de;
  color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
