name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh

          echo "${{ secrets.EC2_SSH_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          sed -i '1s/^\xEF\xBB\xBF//' ~/.ssh/id_rsa
          sed -i '${/^$/d;}' ~/.ssh/id_rsa

          chmod 600 ~/.ssh/id_rsa

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            cd ~/susemi/server &&
            git pull &&
            source venv/bin/activate &&
            pip install -r requirements.txt &&
            pkill gunicorn || true &&
            gunicorn -k uvicorn.workers.UvicornWorker server.main:app --bind 0.0.0.0:8000 --daemon
          "
